<p id="notice"><%= notice %></p>

<h1>hello</h1>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
<h1>
 <%= gravatar_for @user %>
<%= @user.name %>
</h1>
</section>
  </aside>
</div>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<%= @user.name %>, <%= @user.email %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>University:</strong>
  <%= @user.university %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @user.interests %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
